body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background: white;
    width: 450px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 10px;
}

.btn-container {
    margin-top: 20px;
}

button {
    padding: 10px;
    margin: 6px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

button:hover {
    opacity: 0.8;
}

#next-btn {
    background-color: #333;
    color: white;
    display: none;
}

.correct {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}